In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv("../data/raw/teachers_db_practice.csv")

# Take a quick look
print(df.shape)
df.head()

(1228, 16)

,Unnamed: 0,area,area_code,position,full_info,id,description,tags,published,size,width,height,orientation,site,gender,alias
0,0,Architecture & Design,40358,NaN,<p> has worked as a designer for the last dec...,184670.0,NaN,[],2025-06-16T11:48:18.952Z,22834.0,500.0,500.0,S,global,0,Appius Aemilius Agricola
1,1,Economics,17166,NaN,<p>Mr. Madgar has been teaching economics par...,16106.0,Close-up portrait of a smiling man with a bear...,"['man', 'portrait', 'smiling', 'beard', 'close...",2022-11-18T07:21:20.407Z,7180.0,170.0,170.0,S,global,0,Appius Aemilius Cicero
2,2,Private & Business Law,40353,NaN,<p>Lawyer with broad experience in Market Regu...,25635.0,NaN,[],2023-03-17T12:44:46.932Z,14699.0,128.0,128.0,S,global,0,Appius Aemilius Crassus
3,3,Economics,17166,Adjunct professor,<p> is a seasoned leader with a proven track r...,37534.0,A professional portrait of a smiling woman wit...,"['woman', 'portrait', 'smiling', 'blond hair',...",2024-02-15T12:47:08.017Z,79371.0,500.0,500.0,S,global,1,Flavia Prisca
4,4,Science & Technology,40359,NaN,"<p> Carrio is a seasoned technology leader, re...",182500.0,NaN,[],2025-04-07T10:15:21.908Z,15906.0,500.0,500.0,S,global,0,Appius Aemilius Scipio

In [3]:
df.columns
print(df.loc[0, "full_info"])

<p>  has worked as a designer for the last decade in roles spanning a variety of disciplines from graphics to product to interiors. In 2017, , became studio director at Vidivixi, a furniture and interiors design practice based in Mexico City. After leaving in 2023 and relocating to Spain he opened a new design studio with a focus on bespoke, contemporary design-led furniture. </p><h4>Corporate Experience</h4><p>• Studio Director, A&amp;M Studio, Spain, 2023 – Present</p><p>• Studio Director, Vidivixi, Mexico, 2017 – 2023</p><p>• Associate, Becquerel Capital, Mexico, 2014 – 2017</p><p>• Design Partner, The Hub, Hong Kong, 2013 – 2014</p><h4>Academic Background</h4><p>• Bachelor in Graphic Design, Camberwell College of Arts UAL, U.K., 2013</p>

In [5]:
import re

# Remove HTML tags and extra whitespace
df["clean_text"] = (
    df["full_info"]
    .fillna("")
    .apply(lambda x: re.sub(r"<.*?>", " ", x))
    .apply(lambda x: re.sub(r"\s+", " ", x).strip())
)

df["clean_text"].head(3).values

array(['has worked as a designer for the last decade in roles spanning a variety of disciplines from graphics to product to interiors. In 2017, , became studio director at Vidivixi, a furniture and interiors design practice based in Mexico City. After leaving in 2023 and relocating to Spain he opened a new design studio with a focus on bespoke, contemporary design-led furniture. Corporate Experience • Studio Director, A&amp;M Studio, Spain, 2023 – Present • Studio Director, Vidivixi, Mexico, 2017 – 2023 • Associate, Becquerel Capital, Mexico, 2014 – 2017 • Design Partner, The Hub, Hong Kong, 2013 – 2014 Academic Background • Bachelor in Graphic Design, Camberwell College of Arts UAL, U.K., 2013',
       'Mr. Madgar has been teaching economics part time while working in various professional roles across a wide array of industries. He taught undergraduate microeconomics and macroeconomics at Kent State University for 5 years before advancing to teach economic environment &amp; country economic analysis at the masters’ level at IE, where he has been teaching at now going into his third year. He has 21 years of professional work experience ranging from engineering design (where he holds one patent in the US for a ‘nail press’) to director level positions throughout supply chain and operations management. Having worked for large Fortune 100 companies such as GE and Halliburton to small startups such Millwood Inc., where he currently works, has an extensive background in applied theory in the workplace. A lifelong learner and believer in continuous improvement, he is constantly looking to grow and hone his skills, studying new theories and hypotheses in the business setting in an attempt to determine their practical application under less controlled environments. His passion remains centered around the field of economics where he believes now more than ever, a greater understanding and awareness is required as it pertains to tradeoffs and externalities, along with the ‘true costs’ resulting from the decisions that we make and how these impact all those around us and in what manner. Corporate Experience • Strategic Business Unit Manager, Millwood Inc., USA, 2018-Present • Global Manufacturing Director, Permasteelisa, USA, 2015-2018 • Jet Research Center Manager, Halliburton, USA, 2013-2015 • Corporate Finance Master Six Sigma Black Belt, Cameron ‘a Schlumberger Co’, USA, 2010-2013 • Director of Process Technology, Millwood Inc., USA, 2005-2010 • Corporate Six Sigma Black Belt, MACtac ‘a Bemis Co’, USA, 2003-2005 • Six Sigma / Lean Manufacturing Black Belt, G.E., USA, 1999-2003 Academic Experience • Adjunct Professor of Economics, IE Business School, Spain, 2018-Present • Adjunct Level II Professor of Economics, Kent State University, USA, 2005-2010 Academic Background • E.M.B.A., IE Business School / Brown University, Spain / USA, 2018 • Strategic Decision &amp; Risk Management Certificate, Stanford, USA, 2014 • Executive Certificate in HR Leadership, Cornell, USA, 2013 • Lean Six Sigma Master Black Belt Certificate, Villanova, USA, 2011 • M.A. Financial Economics, Kent State University, USA, 2004 • M.B.A., Youngstown State University, USA, 2001 • B.E. Electrical Engineering, Youngstown State University, USA 2000',
       'Lawyer with broad experience in Market Regulation, Antitrust Law and EU/International Law Former civil servant of the European Union in Brussels. holds a BS Degree in Law from the University of Valladolid (Spain) and a Master’s Degree in EU Law from the College of Europe, Bruges (Belgium). Since 2017 she is an Adjunct Professor at IE University, where she has been teaching Business Law. She was awarded the IE Prize for Teaching Excellence 2018-2019, 2020-2021 and 2021-2022. Ms. is also an Adjunct Professor at Comillas University, Madrid, where she teaches Antitrust Law and Industrial / Intellectual Property Law (Bachelor in Law / Master in International and European Business Law), as well as Air and Space Law (postgraduate course). Furthermore she was a Visiting Professor at University San Pablo CEU (Madrid), where she taught EU Regulation of Strategic Economic Sectors for 6 years (Bachelor in Law with a specialization in EU and International Law). Prof. commenced her professional career in Brussels, dealing with public affairs before the EU Institutions. She has worked for the Spanish Telecoms Regulator (Deputy Director for Regulation and Antitrust, Deputy Director attached to the General Secretary), the European Commission (Antitrust - M&amp;A, External Trade - Antidumping, External Relations) and the London-based international law firm Bird &amp; Bird (Head of the Telecoms Practice and Off Counsel for Antitrust in the Madrid Office). obtained the Accolade Chambers EMEA 2012 and 2013. Prof. is currently based in Madrid and works as a consultant specializing in Regulatory Issues and EU Affairs. Corporate Experience • Partner, Creddia Advisors – Regulatory Issues &amp; EU Affairs, Spain, 2013 - Present • Head of Telecommunications and Off Counsel for Competition Law, Bird &amp; Bird Law Firm, Spain, 2011 - 2013 • Deputy Director attached to the General Secretary, Telecommunications Regulatory Authority (currently part of CNMC), Spain, 2008 - 2011 • Detached National Expert and civil servant, European Commission, Belgium, 2001 - 2008 • Deputy Director for Regulation and Competition Law, Telecommunications Regulatory Authority (currently part of CNMC), Spain, 1997 - 2001 • Official, Representation of the Galician Government in Brussels, Belgium, 1993 - 1997 Academic Experience • Adjunct Professor of Business Law, IE University, Spain, 2017 - Present • Adjunct Professor of Competition Law, Industrial and Intellectual Property Law, Comillas University, Spain, 2019 - Present • Visiting Professor of EU Regulation of Telecommunications and Energy, San Pablo CEU University, Spain, 2013 - 2019 Academic Background • Master’s degree in EU Law, College of Europe, Belgium, 1992 • B.S. Degree in Law, University of Valladolid, Spain, 1989 • Diploma on accounting and finance for senior management, IESE, Spain, 2008 • Course on accounting in antidumpling proceedings, European Commission, Belgium, 2007 • International Leadership Programme, Department of State – US Government, US, 2000 • Course on EU Competition Law, Université Libre de Bruxelles, Belgium, 1994'],
      dtype=object)

In [ ]:
from transformers import pipeline

# Load a pre-trained NER model
ner = pipeline("ner", model="dslim/bert-base-NER", aggregation_strategy="simple")

# Test on small sample of dataset
sample_text = df.loc[1, "clean_text"]
ner_results = ner(sample_text[:1000])  # limit to 1000 chars just to test
ner_results[:10]

config.json:   0%|          | 0.00/829 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/433M [00:00<?, ?B/s]

Some weights of the model checkpoint at dslim/bert-base-NER were not used when initializing BertForTokenClassification: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

tokenizer_config.json:   0%|          | 0.00/59.0 [00:00<?, ?B/s]

vocab.txt: 0.00B [00:00, ?B/s]

added_tokens.json:   0%|          | 0.00/2.00 [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/112 [00:00<?, ?B/s]

Device set to use mps:0

[{'entity_group': 'PER',
  'score': np.float32(0.7767943),
  'word': 'Madgar',
  'start': 4,
  'end': 10},
 {'entity_group': 'ORG',
  'score': np.float32(0.99842983),
  'word': 'Kent State University',
  'start': 189,
  'end': 210},
 {'entity_group': 'ORG',
  'score': np.float32(0.98850226),
  'word': 'IE',
  'start': 327,
  'end': 329},
 {'entity_group': 'LOC',
  'score': np.float32(0.9988895),
  'word': 'US',
  'start': 506,
  'end': 508},
 {'entity_group': 'MISC',
  'score': np.float32(0.9949227),
  'word': 'Fortune 100',
  'start': 632,
  'end': 643},
 {'entity_group': 'ORG',
  'score': np.float32(0.9992545),
  'word': 'GE',
  'start': 662,
  'end': 664},
 {'entity_group': 'ORG',
  'score': np.float32(0.99678975),
  'word': 'Halliburton',
  'start': 669,
  'end': 680},
 {'entity_group': 'ORG',
  'score': np.float32(0.9991283),
  'word': 'Millwood Inc',
  'start': 704,
  'end': 716}]

In [7]:
from tqdm import tqdm
tqdm.pandas()

df["entities"] = df["clean_text"].progress_apply(lambda x: ner(x[:2000]))
df["entities"].head(3)

100%|██████████| 1228/1228 [01:21<00:00, 14.99it/s]

0    [{'entity_group': 'ORG', 'score': 0.97535497, ...
1    [{'entity_group': 'PER', 'score': 0.6852415, '...
2    [{'entity_group': 'MISC', 'score': 0.9922315, ...
Name: entities, dtype: object

In [8]:
from rapidfuzz import process, fuzz

def normalize_entities(entities):
    cleaned = []
    for ent in entities:
        word = ent["word"].strip()
        # Remove stray punctuation and unify case
        word = word.replace(".", "").replace(",", "").title()
        cleaned.append((ent["entity_group"], word))
    return cleaned

df["normalized_entities"] = df["entities"].apply(normalize_entities)
df["normalized_entities"].head(2).values

array([list([('ORG', 'Vidivixi'), ('LOC', 'Mexico City'), ('LOC', 'Spain'), ('ORG', 'A & Am'), ('ORG', 'M Studio'), ('LOC', 'Spain'), ('LOC', 'Vidiv'), ('ORG', '##Ixi'), ('LOC', 'Mexico'), ('ORG', 'Becquerel Capital'), ('LOC', 'Mexico'), ('ORG', 'The'), ('LOC', 'Hub'), ('LOC', 'Hong Kong'), ('ORG', 'Design'), ('ORG', 'Camberwell College Of Arts Ual'), ('LOC', 'U K')]),
       list([('PER', 'Madgar'), ('ORG', 'Kent State University'), ('ORG', 'Ie'), ('LOC', 'Us'), ('MISC', 'Fortune 100'), ('ORG', 'Ge'), ('ORG', 'Halliburton'), ('ORG', 'Millwood Inc'), ('ORG', 'Millwood Inc'), ('LOC', 'Usa'), ('ORG', 'Per'), ('LOC', '##Masteelisa'), ('LOC', 'Usa'), ('ORG', 'Jet Research Center'), ('LOC', 'Halliburton'), ('LOC', 'Usa'), ('ORG', 'Sigma Black Belt'), ('ORG', 'Cameron ‘ A Schlumberger Co ’'), ('LOC', 'Usa'), ('ORG', 'Process Technology'), ('ORG', 'Millwood Inc'), ('LOC', 'Usa'), ('ORG', 'Sigma Black Belt'), ('ORG', 'Mactac'), ('ORG', 'Bemis Co ’'), ('LOC', 'Usa'), ('ORG', 'Six Sigma / Lea'), ('LOC', 'Black'), ('ORG', 'Belt'), ('LOC', 'Usa'), ('LOC', 'Spain')])],
      dtype=object)

In [15]:
import re

LOCATION_MAP = {
    "us": "United States",
    "usa": "United States",
    "u.s.": "United States",
    "u.k.": "United Kingdom",
    "uk": "United Kingdom",
    "spain": "Spain",
    "madrid": "Madrid",
    "mexico": "Mexico",
    "mexico city": "Mexico City",
    "london": "London",
    "paris": "Paris",
    "france": "France",
    "germany": "Germany",
    "italy": "Italy",
    "portugal": "Portugal",
    "barcelona": "Barcelona",
    "new york": "New York",
}

ORG_FIXES = {
    # IE ecosystem
    "ie": "IE",
    "ie university": "IE",
    "ie business school": "IE",
    "ie law school": "IE",
    "instituto de empresa": "IE",
    "ie school of global and public affairs": "IE",
    # Spanish universities
    "universidad autonoma de madrid": "Universidad Autónoma de Madrid",
    "uam": "Universidad Autónoma de Madrid",
    "universidad complutense de madrid": "Universidad Complutense de Madrid",
    "universidad carlos iii de madrid": "Universidad Carlos III de Madrid",
    "universidad politecnica de madrid": "Universidad Politécnica de Madrid",
    "universidad de navarra": "Universidad de Navarra",
    "universidad pontificia comillas": "Universidad Pontificia Comillas",
    "comillas university": "Universidad Pontificia Comillas",
    "icade": "Universidad Pontificia Comillas",
    "iese business school": "IESE Business School",
    # companies / misc
    "a & am": "A&M Studio",
    "a&m": "A&M Studio",
    "am studio": "A&M Studio",
}

GENERIC_ORG_WORDS = {
    "academic", "academic exp", "academ", "experience", "exp",
    "university", "universidad", "engineering", "design",
    "academy", "school", "faculty", "department", "college",
    "education", "institute", "business", "finance", "management",
    "administration", "economics", "marketing", "law", "science",
    "technology", "research", "professor", "lecturer"
}

def normalize_entities(entities):
    cleaned = []
    for ent in entities:
        text = ent["word"].lower().strip()
        text = re.sub(r"[^a-z0-9&.\sáéíóúüñ]", "", text)
        text = re.sub(r"\s+", " ", text).strip()

        if len(text) < 3:
            continue

        if ent["entity_group"] == "LOC":
            text = LOCATION_MAP.get(text, text.title())

        elif ent["entity_group"] == "ORG":
            text = ORG_FIXES.get(text, text.title())

            # drop headings and generic garbage
            if (
                text.lower() in GENERIC_ORG_WORDS
                or len(text.split()) == 1 and text.lower() not in [v.lower() for v in ORG_FIXES.values()]
            ):
                continue

        else:
            text = text.title()

        cleaned.append((ent["entity_group"], text))
    return cleaned

df["normalized_entities"] = df["entities"].apply(normalize_entities)




from collections import Counter

org_counts = Counter([e[1] for row in df["normalized_entities"] for e in row if e[0] == "ORG"])
loc_counts = Counter([e[1] for row in df["normalized_entities"] for e in row if e[0] == "LOC"])

print("Top ORGs:", org_counts.most_common(10))
print("Top LOCs:", loc_counts.most_common(10))

Top ORGs: [('IE', 1795), ('Universidad Autónoma De Madrid', 99), ('Universidad Pontificia Comillas', 88), ('Universidad Complutense de Madrid', 80), ('Universidad Autónoma de Madrid', 79), ('Harvard University', 63), ('Universidad Carlos III de Madrid', 62), ('& Am', 51), ('Universidad Politécnica De Madrid', 41), ('Columbia University', 41)]
Top LOCs: [('Spain', 3490), ('Madrid', 892), ('United States', 464), ('Europe', 202), ('London', 188), ('France', 153), ('Germany', 151), ('Italy', 130), ('Portugal', 114), ('Barcelona', 100)]

In [3]:
output_path = "../data/processed/teachers_db_cleaned.parquet"
df.to_parquet(output_path, index=False)
print(f"Saved cleaned dataset to {output_path}")

NameError: name 'df' is not defined